  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-address">
            <div class="footer-address__item">
              <i class="footer-ico-1 footer-ico-poz"></i>
                <h5>Адрес</h5>
                <p>
                  Санкт-Петербург <br>
                  наб. Октябрьская, 112к4
                </p>
            </div>

            <div class="footer-address__item">
                <i class="footer-ico-2 footer-ico-poz"></i>
                <h5>Отдел продаж</h5>
                <ul>
                  <li>Телефон: +7 (812) 389-36-20</li>
                  <li>Email: info@lenwood.ru</li>
                </ul>
            </div>

            <div class="footer-address__item">
              <i class="footer-ico-3 footer-ico-poz"></i>
                <h5>Время работы</h5>
                <ul>
                  <li>Пн— Пт: 9:00 – 18:00</li>
                  <li>Сб: 9:00 – 15:00, Вс: выходной</li>
                </ul>
            </div>

          </div>

          <div class="footer-copyright footer-copyright_bor">
              <p>
                2012-2016 © LenWood - пиломатериалы от производителя. <br>
                ООО «ЛенВуд» ОГРН 1157847029603 ИНН 7840021898 КПП 784001001 Юридический адрес: 191002, г. Санкт-Петербург, ул. Разъезжая, д 6, лит Е, пом 4Н
              </p>
          </div>

        </div>
      </div>
    </div>

  </footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/responsive-menu/responsive-menu.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
