
@import "rem";

//////////////////////////////////////////////////////

$color: #4a4f55;

html{
  font-size:$em-base;
}

body{

}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b{
  font-family: 'Roboto Slab', serif;
  color: #232a34;
}

h1{
  font-size: rem(36);
}
h2{
  font-size: rem(30);
}
h3{
  font-size: rem(26);
}
h4{
  font-size: rem(18);
}
h5{
  font-size: rem(15);
}
h6{
  font-size: rem(12);
}

strong{

}
b{

}

p{

}

i{
  display :inline-block;
}
a{
  color: $color;
  &:hover{
    text-decoration: none;
  }
}

.link{
  color: #627e2f;
  &_red{
    color: #ff0606;
  }
}

.left{
  float: left;
}
.right{
  float: right;
}


.cr  {float: none; clear: both; margin: 0; padding: 0; font-size: 0.1px;}


.both:after {
  clear: both;
  content: "";
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}
